spring:
  application:
    name: supply-management-test-task

  datasource:
    url: jdbc:postgresql://localhost:5432/supply_management
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    defer-datasource-initialization: true
